@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE:wght@100..800&display=swap');

body {
  font-family: 'Lato', sans-serif;
  /* або інший шрифт */
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #1e1e1e;
  /* для твого темного фону */
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}


p+p {
  margin-top: 1rem;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

.footer__social-link svg {
  width: 32px;
  height: 32px;
}

.footer__logo {
  width: 120px;
  margin-top: 1rem;
}

.footer__logo-img {
  display: block;
  width: 100%;
}

.footer__description {
  max-width: 320px;
  margin-bottom: 2rem;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #d0d0d0;
}

.footer__navigation-title,
.footer__navigation-shop-title,
.footer__need-help-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #ffffff;
}

.footer__nav-list {
  list-style: none;
  padding: 0;
}

.footer__nav-item+.footer__nav-item {
  margin-top: 0.5rem;
}

.footer__nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #bbbbbb;
  transition: color 0.2s ease;
  text-decoration:none;
}

.footer__nav-link:hover {
  color: #f44;
}


.footer__social-link:last-child {
  margin-right: 0;
}

.footer__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

/* Стилі тільки для SVG — колір, анімація */
.footer__social-link svg {
  width: 32px;
  height: 32px;
  fill: #f44;
  transition: fill 0.3s ease;
}

/* Ховер: лише SVG змінює колір */
.footer__social-link:hover svg {
  fill: #cc3a3a; /* темніший червоний */
}



/* ===== NEED HELP SECTION ===== */
.footer__phone-number-div {
  margin-bottom: 1rem;
}

.footer__phone-number {
  font-size: 24px;
  font-weight: 700;
  color: #f04d4d;
}

.footer__schedule {
  font-size: 16px;
  color: #cccccc;
  margin-bottom: 1rem;
}

.footer__email {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
}

.footer__email:hover {
  color: #f04d4d;
}

/* ===== BOTTOM FOOTER ===== */
.footer__botom {
  border-top: 1px solid #444;
  margin-top: 3rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #999999;
}

.footer__botom small {
  font-size: 14px;
  color: #999;
}


.footer__email {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.3s ease;
}